#about {
  .about_header_container {
    color: whitesmoke;
    text-align: center;
    margin-bottom: 2.4rem;
  }

  //  img,
  // .column-2 {
  //   width: 100% !important;
  //   height: 426px;
  //   border-radius: 2rem !important;
  // }
}
.info-section {
  padding: 0.525rem 4.2rem;
  width: 40%;
  margin: 0 auto;
  border-radius: 2.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.flex-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hours {
  background-color: $secondary-color;
  padding: 0.525rem 4.2rem;
}

.closed {
  background-color: $sea-green;
  padding: 1.55rem 4.6rem;
}

.phone {
  background-color: $orange-red;
  padding: 1.5rem 5.5rem;
}

// About Us Neon Sign
.about {
  &_text--border {
    display: flex;
    width: 17rem;
    border: 0.2rem solid #ef9600;
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto;

    box-shadow: 0 0 1rem #ffbc42, 0 0 2rem #ffbc42, 0 0 3rem #ffbc42,
      inset 0 0 1rem #ffbc42;
  }

  &_text--who {
    font-size: 3rem;
    color: #fbffff;
    margin: auto;

    text-shadow: 0 0 1rem #fbffff, 0 0 2rem #fbffff;
  }

  &_text--we-are {
    font-size: 3rem;
    color: $sea-green;
    margin: auto;

    text-shadow: 0 0 1rem #0fffdf, 0 0 2rem #0fffdf;
  }
}
