#events {
  margin-top: 5rem;

  .events_header_container {
    text-align: center;
    color: whitesmoke;
    margin: 2.4rem 0;
  }

  img,
  .column-2 {
    width: 100% !important;
    height: 42.6rem;
    border-radius: 2rem !important;
  }
}

.events {
  &_text--border {
    display: flex;
    width: 17rem;
    border: 0.2rem solid #8ffcff;
    border-radius: 1rem;
    align-items: center;
    margin: 0 auto;

    box-shadow: 0 0 1rem #0900ff, 0 0 2rem #0900ff, 0 0 3rem #0900ff,
      inset 0 0 1rem #0900ff;
  }

  &_text--game {
    font-size: 3rem;
    color: #e20000;
    margin: auto;

    text-shadow: 0 0 1rem #ff5b5b, 0 0 2rem #ff5b5b;
  }

  &_text--on {
    font-size: 3rem;
    color: #fbffff;
    margin: auto;

    text-shadow: 0 0 1rem #fbffff, 0 0 2rem #fbffff;
  }
}

.events_upcoming {
  color: whitesmoke;

  &--1,
  &--2,
  &--3 {
    width: 30%;
    height: 50rem;
  }

  &--mb {
    margin-bottom: 20rem;
  }

  h4 {
    margin-top: 0.5rem;
    font-size: 2rem;
  }
}
