// Clear
@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// Absolute Center
@mixin absolutecenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Media Query Manager

// 0-600 px:       Phone
// 600-900 px:     Tablet Potrait
// 900-1200 px:    Tablet Landscape
// (1200-1800)px:  Normal Styles
// 1800+ px:       Big Screens

// $breakpoint argument choices:
//   - phone
//   - tab-port
//   - tab-land
//   - big-desktop

// Order of Operations: Base + Typography > Layout + Grid > Components

// 1em = 16px
// 600px
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  // 900px
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  // 1200px
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }
  // 1800px
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
// Keyframes

@keyframes splash--out {
  0% {
    opacity: 1;
    z-index: 1;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  85% {
    opacity: 0.15;
  }

  90% {
    opacity: 0.1;
  }

  95% {
    opacity: 0.05;
  }

  99% {
    opacity: 0.01;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

// @keyframes splash--in {
//   0% {
//     opacity: 0;
//     z-index: -1;
//   }

//   70% {
//     opacity: 0.7;
//   }

//   80% {
//     opacity: 0.8;
//   }

//   95% {
//     opacity: 0.95;
//   }

//   99% {
//     opacity: 0.99;
//   }

//   100% {
//     opacity: 1;
//     z-index: 1;
//   }
// }
