ul{ 
  list-style: none;
}

a{ 
  color: #333;
  text-decoration-line: none;
}

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 1rem 0;
}

img {
  width: 100%;
}

.logo{
  font-size: 2.9rem;
}

.text-primary{
  color: $primary-color !important;
}

.text-secondary{
  color: $secondary-color !important;
}

.bg-color-primary{
  background-color: $primary-color;
}

.bg-color-secondary{
  background-color: $secondary-color;
}

.bg-color-seagreen{
  background-color: $sea-green
}

.bg-color-orangered{
  background-color: $orange-red;
}

// Specific Page Stylings

#about,
#beer,
#merch,
#gritanga,
#gracia{
  .column-2{
   border-radius: 1rem;
   margin-left: .75rem;
  }
}

#about{
  margin-bottom: 2rem;
}

#events{
  .column-1{
   margin-left: .75rem;
  }
}

.anchor{
  display: block;
  height: 5rem;
  margin-top: -5rem;
  visibility: hidden;
}

#gritanga,
#gracia{
  .row{
    height: 75%;
    margin-bottom: 2rem;
  }
    img{
      width: 100% !important;
      border-radius: 2rem !important; 
    }
}